@model IEnumerable<MVCChurchDirectory.ViewModels.HomePersonViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row marginCon">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <b>Search by: </b>@Html.RadioButton("searchBy", "Name", true)<text> Name</text>
        @Html.RadioButton("searchBy", "Job")<text>Job</text><br />

        @Html.TextBox("Search", null, new { @class = "search" }); <input type="submit" value="Search" class="btn btn-primary" />
    }
    <div class="left" id="tableDiv">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Picture</th>
                    <th>Church Job</th>
                </tr>
            </thead>
            @foreach (var person in Model)
            {
                <tr id="personRow" onclick="GetPersonDetails(@person.personID)" class="clickable">
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Email</td>
                    <td>@person.PhoneNumber</td>
                    <td>@person.Picture</td>
                    <td>@person.Category</td>
                </tr>
            }
        </table>
    </div>

    <div id="DisplayPerson" class="right col-lg-7"> </div>

</div>

@section Scripts {
    <script type="text/javascript">
        var GetPersonDetails = function (personID) {
            var url = "/Home/GetPerson?id=" + personID;
            $("#DisplayPerson").load(url);
            $("#tableDiv").addClass("col-lg-5");
        };
    </script>


}