@model IEnumerable<MVCChurchDirectory.ViewModels.EditPersonViewModel>
<div>
    <button type="button" onclick="AddNewPerson()">Add New Person</button>
    <div id="NewPerson"></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Picture</th>
                    <th>Church Job</th>
                </tr>
            </thead>
            @foreach (var person in Model)
    {
        <tr id="personRow" onclick="GetPersonDetails(@person.personID)">
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Picture</td>
            <td>@person.Category</td>
        </tr>
    }
        </table>
    </div>

    <div id="EditPersonArea">

    </div>
</div>
