@model MVCChurchDirectory.ViewModels.AdminViewModel

<p class="marginCon">
    @Html.DropDownListFor(x => x.SelectedID,
                                new SelectList(Model.AdminList, "ID", "Name"), "-- Select Action--", new { id = "ddlCategory", @class = "form-control" })
</p>

<div id="dvCategoryResults">
    
</div>

@section Scripts {
<script type="text/javascript">
    if ($("#ddlCategory").val() > 0) {
        $("#dvCategoryResults").load('@(Url.Action("GrabAdminPage", "Admin",null, Request.Url.Scheme))?categoryId=' + $("#ddlCategory").val(), function () {
            if ($("#ddlCategory").val() == 2) {
                $("#CatNameChange").hide();
                $("#NewCategory").hide();
            }
            if ($("#ddlCategory").val() == 1) {
                $("#EditPersonArea").hide();
                $("#NewPerson").hide();
            }
        });
    }
    $("#ddlCategory").change(function () {
        var categoryId = $("#ddlCategory").val();
        $("#dvCategoryResults").load('@(Url.Action("GrabAdminPage", "Admin",null, Request.Url.Scheme))?categoryId=' + categoryId, function () {
            if ($("#ddlCategory").val() == 2) {
                $("#CatNameChange").hide();
                $("#NewCategory").hide();
            }
            if ($("#ddlCategory").val() == 1) {
                $("#EditPersonArea").hide();
                $("#NewPerson").hide();
            }
        });
    });

    var AddNewCat = function () {
        $("#NewCategory").load('@Url.Action("NewViewCat","Admin")');
        $("#NewCategory").show();
    };
    var AddNewPerson = function () {
        $("#NewPerson").load('@Url.Action("NewViewPerson","Admin")', function () {
            $("#ddlMStatus").change(function () {
                $("#ddlPerson").val(1);
                var status = $("#ddlMStatus").val();
                if (status == 1) {
                    $("#fieldMarried").show();
                } else {
                    $("#fieldMarried").hide();
                }
            });
        });
        $("#NewPerson").show();

    };
    var EditViewCategory = function (catID) {
        var url = '/Admin/EditViewCat?CatID=' + catID;
        $("#CatNameChange").load(url);
        $("#CatNameChange").show();
    };
    var EditViewPerson = function (personID) {
        $("#EditPersonArea").show();
        var url = '/Admin/EditViewPerson?personID=' + personID;
        $("#EditPersonArea").load(url, function () {
            if ($("#ddlMStatus").val() != 1) {
                $("#fieldMarried").hide();
            }
            $("#ddlMStatus").change(function () {
                $("#ddlPerson").val("1");
                var status = $("#ddlMStatus").val();
                if (status == 1) {
                    $("#fieldMarried").show();
                } else {
                    $("#fieldMarried").hide();
                }
            });

            if ($("#ddlHKids").val() != "True") {
                $("#HavingKids").hide();
            }
            $("#ddlHKids").change(function () {
                var status = $("#ddlHKids").val();
                if (status == "True") {
                    $("#HavingKids").show();
                } else {
                    $("#HavingKids").hide();
                }
            });
        });
        
    };

    var AddNewKid = function (personID) {
        var url = '/Admin/ModalPopUpKid?personID=' + personID;
        $("#NewKidModal").load(url, function () {
            $("#KidModal").modal();
            $('#kidForm').submit(function (e) {
                e.preventDefault();
                $.post(this.action, $(this).serialize(), function (response) {
                    if (response.error) {
                        alert(response.error);
                    }
                    else {
                        $('#KidModal').modal('hide');
                        setTimeout(function () {
                            EditViewPerson(personID);
                        }, 100);

                    }
                }, 'json');
            });
        });

    };

    var EditKid = function (childID, personID) {
        var url = '/Admin/EditModalKid?childID=' + childID;
        $("#EditViewKid").load(url, function () {
            $("#KidModal").modal();
            $('#kidForm').submit(function (e) {
                e.preventDefault();
                $.post(this.action, $(this).serialize(), function (response) {
                    if (response.error) {
                        alert(response.error);
                    }
                    else {
                        $('#KidModal').modal('hide');
                        setTimeout(function () {
                            EditViewPerson(personID);
                        }, 500);

                    }
                }, 'json');
            });
        });

    };

</script> 
    
}

